@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Inter:wght@800&family=Rubik:wght@600&display=swap');
:root {
    --FundoDeTela: #f5f5f5;
    --corWhite: #fff;
    --corBlack: rgba(0, 0, 0, 0.171);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: var(--FundoDeTela);
}

h1 {
    display: flex;
    justify-content: center;
    margin: 5rem 0 5rem 0;
    /* em cima, direita, em abaixo, esquerda */
    font-family: Heebo;
    font-size: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    max-width: 980px;
    margin: 0 auto;
}

.card {
    background-color: var(--corWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 35px cima/baixo e 40 direita/esquerda*/
    padding: 35px 40px;
    box-shadow: 6px 6px 10px var(--corBlack);
}

.card .user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card h3 {
    font-family: Rubik;
    margin-bottom: 5px;
}

.star {
    width: 20px;
}

p {
    margin-top: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
}

@media(max-width:538px) {
    .cards {
        display: flex;
        flex-direction: column;
    }
    h1 {
        max-width: 100%;
        font-size: 20px;
    }
    p {
        margin-top: 20px;
        text-align: center;
        font-family: Roboto;
        font-size: 9px;
    }
    .card h3 {
        font-family: Rubik;
        margin-bottom: 5px;
        font-size: 10px;
    }
    .star {
        width: 15px;
    }
}